.header {
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  /* margin: 0 auto; */
  padding: 45px 0 40px;
}

.header__image {
  /* margin-bottom: 41px; */
  padding: 0;
  width: 173px;
}

@media screen and (max-width: 936px) {
  .header {
    padding-top: 36px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    padding: 28px 0 32px;
  }

  .header__image {
    width: 126px;
    margin-left: 27px;
  }
}
