.page {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.page__content {
  margin: 0 20px;
}

.page__section {
  margin: 0 auto;
  max-width: 882px;
  box-sizing: border-box;
}
