.photos {
}

.photos__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  padding: 0;
  margin: 0;
}

.photos__card {
  background-color: #fff;
  border-radius: 5%;
  list-style-type: none;
  width: 282px;
  height: 361px;
}

.photos__image {
  width: 100%;
  height: 78%;
  border-radius: 5% 5% 0 0;
}

.photos__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.photos__caption {
  color: #000;
  margin: 0;
  margin-left: 20px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 75%;
}

.photos__like-button {
  background: url(../images/Vector.svg);
  margin-right: 28px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 21px;
  height: 18px;
  transition: 0.5s linear;
}

.photos__like-button:hover {
  opacity: 0.5;
}
