.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 51px;
}

.profile__avatar {
  height: 120px;
  position: relative;
}

.profile__avatar-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__avatar-btn {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  opacity: 0;
  background: url(../images/edit-btn.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  /* height: 26px; */
  transition: opacity 0.3s;
}

.profile__avatar-btn:hover {
  opacity: .7;
}

.profile__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: auto;
  flex-shrink: 2;
  gap: 5%;
}

.profile__name {
  max-width: 375px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  margin: 0;
  max-width: 373px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(../images/edit-button.png);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  border: solid #fff 1px;
  transition: 0.5s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  max-width: 373px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__add-button {
  background: url(../images/plus-button.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  border: solid 2px #fff;
  background-position: center;
  width: 150px;
  height: 50px;
  transition: 0.5s linear;
  border-radius: 2px;
  padding: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 936px) {
  .profile__name {
    font-size: 30px;
    max-width: 250px;
  }

  .profile__description {
    font-size: 16px;
    max-width: 250px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
    margin-bottom: 36px;
  }

  .profile__info {
    margin: 30px auto 36px;
    align-items: center;
    justify-content: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__description {
    font-size: 14px;
    margin-top: 14px;
    line-height: 17px;
  }

  .profile__add-button {
    background-size: 16px 16px;
    width: 88.15%;
  }
}
